<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<style type="text/css">
		</style>

		<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js"></script>
		<script src="//code.jquery.com/jquery-latest.js"></script>
		<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>


	</head>


<body>

<h1>Square Calculator</h1>

<a href="http://127.0.0.1:5000/add" data-featherlight="ajax" >Add</a>


		<script>

		$(document).ready(function(){
		   // jQuery methods go here...

		$.featherlight.defaults.openSpeed = 1;
		$.featherlight.defaults.closeSpeed = 1;

		});

		</script>


	</body>
</html>
